@font-face {
    font-family: Plus_Jakarta_Sans;
    src: url(PlusJakartaSans-Regular.ttf);
}


body{
    margin: 0%;
    font-family: Plus_Jakarta_Sans;
}


:root{
   
    --primary-color:#20484F;
    --seoundry-color:#B8E4DA;
    --main-bacgroud-color:#FAFAFA;
    --third-color:#072125;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color)   ;
    color: white;
    padding: 0 20px 0 20px;
}
.Navbar__Link-toggle{
    display:none;
}

.nav-list{
    display: flex;
    list-style-type: none;
    align-items: center;
    text-decoration: none;
}


.nav-list li{
    padding: 0 10px 0 10px;
}
.nav-list a{
    color: white;
    text-decoration: none;
    font-size: 16px;

}
.nav_logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 30.24px ;
}
.navbtn {
padding: 10px 16px 10px 16px;
font-size: 14px;
margin: 0 10px 0 0;
border-radius: 8px;
border: none;
Font:Plus Jakarta Sans;
background-color: var(--seoundry-color);

}
.navbtn2{
    background-color: rgba(240, 248, 255, 0);
    font-weight: 400px;
    font-size: 14px;
    color: white;
    border: none;
    }


    /*  hero--- section */

    .hero{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 70px ;
        background-color: var(--main-bacgroud-color);
        padding-bottom: 70px;
        
    }


    .hero_text{
        padding: 0 120px 0 120px;
        background-image: url('Untitled_Artwork\ 3\ 1\ \(1\).png');
        background-repeat: no-repeat;
        background-position: right; 
        
    }
    .hero_text h1{
        font-size: 58px;
        font-weight: 700;
        margin-top: 0%;
        margin-bottom: 0;
        color: var(--third-color)!important;
       
    }
    .hero_text p{
        font-size: 16px;
        font-weight: 700px;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 0px;
        color:var(--third-color);
      }
      .hero_text h6{
        font-size: 24px;
        font-weight: 200;
        margin-top: 0%;
        padding-top: 20px;
        margin-bottom: 25px;
        color:var(--third-color);
      }
       


 
.hero__image_frame{
    position: relative;
    padding: 0px 39px;
}
.hero__imagebanner{
    position: absolute;
    top: 180px;
    right: 95px ;
    z-index: 1;
    
}

.hero_btn{
    padding: 12px 26px 12px;
    background-color: var(--third-color);
    font-size: 14px;
    color: white;
    border-radius: 8px;
    border: none;
}
.hero_btn2{
    padding: 11px 18px 11px;
    background-color: #FFFFFF;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid rgb(235, 230, 230);
    margin-left:15px;
}
.hero__image__box{
    display: flex;
    position: absolute;
    background-color: white;
    align-items: center;
    right: 30px;
    top: 224px;
    z-index: 2;
    padding: 10px 70px 10px 20px;
    box-shadow: 0px 4px 40px rgba(138, 138, 138, 0.04);
    border-radius: 12px;
    

}
.hero__image_text{
 padding-left: 20px;
}
.hero__image_text p{
    margin: 0;
    font-size: 10px; 
    color: var(--primary-color); 
}
.hero__image_text h4 {
 margin: 0 0 10px 0;
 font-weight: bold; 

}
.hero__image img{
    border: 3px solid #B8E4DA;
    box-sizing: border-box;
    border-radius: 50px;
}

.hero__image__box2nd{
display: flex;
position: absolute;
top: 555px;
background-color: white;
padding: 30px 20px ;
right: 170px;
z-index: 2;

box-shadow: 0px 4px 40px rgba(138, 138, 138, 0.04);
border-radius: 12px;
}
.hero__image__icon{
    background-color: #DCF2ED;
    border-radius: 50px;
    padding: 10px 13px ;
    margin-right: 20px;
   
}
.rounded {
    border: 0px solid rgba(32, 72, 79, 0.1);
    border-radius: 5px;
    margin-top: 0%;
    width: 180px;
    padding: 4px 0px; ;
    margin: 10px 0;
    background-color: rgba(32, 72, 79, 0.1);
  }

  .rounded2 {
    border: 0px solid rgba(32, 72, 79, 0.1);
     padding: 4px 0px; ;
    border-radius: 5px;
    margin-top: 8px;
    width: 120px;
    margin: 10px 0px;
    background-color: rgba(32, 72, 79, 0.1);

    
  }

  .rounded3 {
    border: 2px solid #B8E4DA;
    border-radius: 5px;
    margin-top: 10px;
    width: 69px;
    padding: 12px 0px;
    background-color: #B8E4DA;

  }

  .hero__image__icon__text h4{
     margin: 0;
      width: 300px;
      
      
  }


  .logo4{
      background-color: #FAFAFA;
      margin: 0%;
      padding: 50px 0 50px 0;
      color: #20484F;
  }
.logo-head p{
    text-align: center;
    color: #20484F;
    font-size: 24px;

}

  .logos{
      display: flex;
      justify-content: space-between;
      align-items: center;
       width: 1000px;
       margin: auto;
  
    }


/*Features_Blocks*/

.Features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    
    background-color: var(--main-bacgroud-color);
    padding:  60px 100px;
}
.feature_icon{
    height: 20px;
    width: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--seoundry-color);
}
.Features_Blocks{
    padding: 0 60px 0 0;

}
.Features_Blocks_text{
padding: 0 50px 0 0;
margin-bottom: 50px;
}
.Features_Blocks_text h3{
font-size: 32px;
font-weight: 700;
margin: 10px 0;
}

.Features_Blocks_text p {
    font-size: 18px;
    margin: 0;

}
.Features_Blocks_grid{
    display: grid;
    gap: 50px 100px;
    grid-template-columns: auto auto ;
    
}
.Features___image{
    position: relative;
}
.Features__image{
    height: 490px; 
    width: 470px;
    
}

.Features_Blocks_grid h5{
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;

}
.Features_Blocks_grid p{
    font-size: 15px;
    margin: 10px 0;
}

.Features_image__box{
    display: flex;
    position: absolute;
    background-color:var(--third-color);
    padding:  10px 50px 10px 10px ;
    right: 50px;
    margin-top: 50px;
    box-shadow: 0px 4px 40px rgba(138, 138, 138, 0.04);
    border-radius: 12px;

}

.Features_image_icon{
    background-color: var(--seoundry-color);
    border-radius: 50px;
    padding: 7px 10px ;
    margin-right: 12px;

   
}
.Features_image__text p{
   
        margin:0;
        color: white;
         font-size: 14px;
         
     

}

.Features_image_rounded{
    
        border: none;
        border-radius: 5px;
        width: 130px;
        padding: 3px 0px; ;
        margin: 10px 0;
        background-color:var(--primary-color);
      
    
}
.Features_image_rounded2{
    
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 3px 0px; ;
    margin: 10px 0;
    background-color:var(--primary-color);
  

}
.Features_image___box{
    display: flex;
    position: absolute;
    background-color:white;
    padding:  10px 50px 10px 10px ;
    bottom: 125px;
    margin-left: 20px;
    margin-top: 50px;
    box-shadow: 0px 4px 40px rgba(138, 138, 138, 0.04);
    border-radius: 12px;
    
}
.Features_image___text p{
    color: var(--third-color);
    margin: 0%;
    font-weight: 700;
}

.Features_image__rounded{
    
    border: none;
    border-radius: 5px;
    width: 130px;
    padding: 3px 0px; ;
    margin: 10px 0;
    background-color:rgba(32, 72, 79, 0.1);;
  

}
.Features_image__rounded2{

border: none;
border-radius: 5px;
width: 100px;
padding: 3px 0px; ;
margin: 10px 0;
background-color:rgba(32, 72, 79, 0.1);;


}


/* divider*/

.divider {
      background-image: url(./pic/Divider.png);
      background-color: var(--main-bacgroud-color);
      background-position: top;
      background-repeat: no-repeat;
      padding: 43px;
      margin: 0%;
}


/* Features box*/

.feature_shape {
    padding: 100px;
    position: relative;
}

.feature_shape h3{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;

}
.feature_shape_grid{
    display: flex;
    padding: 40px 0;
    background-image: url(./pic/Connector\ Vector.png);
    background-repeat: no-repeat;
    background-position: center;
}

.Feature_image_gridbox{
    position: relative;
    margin-bottom: 46px;

}
.Feature_image_grid_box{
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 23px;
    top:25px;
    right: 120px;
    border-radius: 5px;

}
.Feature_image_grid_box p{
    margin-bottom: 0;
}
.Feature_image_grid_box h3{
    font-size: 18px;
    margin: 13px 0px;
}


.Features_gridbox__rounded{
        border: none;
        border-radius: 5px;
        width: 110px;
        padding: 3px 0px; ;
        margin: 10px 0;
        background-color:#20484F1A;

}
.Features_gridbox__rounded2{
    border: none;
    border-radius: 5px;
    width: 130px;
    padding: 3px 0px; ;
    margin: 10px 0;
    background-color:#20484F1A;

}


.Feature_image_grid__box{
    display: flex;
    background-color: white;
    box-shadow: 0px 4px 40px rgba(138, 138, 138, 0.04);
    border-radius: 12px;
   
}
.Features_gridbox_icon{
    background-color: var(--seoundry-color);
    border-radius: 50px;
    padding: 3px 5px ;
    margin-right: 10px;
    font-size: 13px;
}

.Features_gridbox___rounded{
    border: none;
    border-radius: 5px;
    width: 60px;
    padding: 3px 0px; ;
    margin: 10px 0;
    background-color:#20484F1A;
}
.Features_gridbox____rounded{
    border: none;
    border-radius: 5px;
    width: 90px;
    padding: 3px 0px; ;
    margin: 10px 0;
    background-color:#20484F1A;
}
.Features_gridbox____roundedlast{
    border: none;
    border-radius: 5px;
    width: 130px;
    padding: 15px 0px; ;
    margin: 10px 0;
    background-color:var(--seoundry-color);
}
/* 2nd grid*/
.feature_shape_grid2{ 
    
    position: relative;

}
.Feature_image_gridbox2 img{
    
    position: relative;
    
}

.Feature_image_grid_box2{
    display: flex;
    background-color: white;
    position: absolute;
    box-shadow: 0px 4px 40px rgba(138, 138, 138, 0.04);
    border-radius: 12px;
    padding: 20px 30px;
    width: 315px;
    z-index: 1;
    top: 150px;
    
    }
     
    .Features_gridbox2_icon{
    background-color: var(--seoundry-color);
    border-radius: 50px;
    padding: 10px 13px ;
    margin-right: 12px;
    }

    .Feature_image_grid_box2text p{
        margin: 0;
        font-size: 16px;
    }

    .Features_gridbox2__rounded{
        border: none;
        border-radius: 5px;
        width: 180px;
        padding: 4px 0px; ;
        margin: 10px 0;
        background-color:#20484F1A;

    }

    .Features_gridbox2__rounded2{
        border: none;
        border-radius: 5px;
        width: 150px;
        padding: 4px 0px; ;
        margin: 10px 0;
        background-color:#20484F1A;
    }
.feature_gridbox2_text h4{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
   
}

.feature_gridbox2_text p{
font-size: 16px;
font-weight: 400;
text-align: center;
margin-top: 0%;
padding: 10px 30px;
}
.Feature_image_gridbox3{
    background-image: url(./pic/BG\ \(2\).png);
    background-position: center;
    background-repeat: no-repeat;
}

/* third*/


.feature_shape_grid3{
    position: relative;
}

.Feature_image_gridbox3{
    position: relative;
  
}

.feature__image{
    border-radius: 50px;
    border: 3px solid #B8E4DA;
    box-sizing: border-box;
    display: block;
    margin: auto;
    
}
.Feature_image__gridbox3{
    background-color: white;
    position: absolute;
    z-index: 1;
    padding: 50px 40px;
    right: 100px;
    top: 60px;
    border-radius: 6px;

}

.Feature_image__gridbox3 h4{
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}

.Feature_image__gridbox3 p{
     font-size: 15px;
     text-align: center;
     margin: 0%;

}
.Features_gridbox3__rounded{
        align-items: center;
        border: none;
        border-radius: 5px;
        width: 120px;
        padding: 4px 0px; ;
        margin: 10px 0;
        background-color:#20484F1A;

}

.Features_gridbox3__rounded2{

display: block;
margin: auto;

border: none;
    border-radius: 5px;
    width: 80px;
    padding: 4px 0px; ;
    background-color:#20484F1A;

}

.Features_item{
    padding: 0 100px ;
}
.Features__item{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}
.Features__item_content{
    padding-right:60px;
}
.Features__item_content:last-child{
    padding-right: 0px;
}


.Three_Quote_Blocks{
    margin-top: 100px;
    padding: 70px 100px;
    background-color: #FAFAFA;
}
.Three_Quote_Blocks_tittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Three_Quote_Blocks_tittle button{
 background-color: var(--third-color);
 font-size: 14px;
 padding: 15px 20px;
 color: white;
 border: none;
 border-radius: 7px;
}
.Three_Quote__Blocks{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 30px ;

}
.Three_Quote_Blocks p{
    margin-bottom: 60px;
    font-size: 24px;
}
.Three_Quote_Blocks h5{
    margin-bottom: 10px;
}
.Three_Quote_Blocks h6{
    margin: 0;
    font-size: 10px;
}
.Three_Quote__Blocks_content{
    padding: 30px;
    background-color: white;
    margin-right:10px ;
    border-radius: 8px;
}

.Central{
    padding: 100px 370px;
    
    text-align: center;
}
.Central button{

 background-color: var(--third-color);
 font-size: 14px;
 padding: 15px 20px;
 color: white;
 border: none;
 border-radius: 7px;
}


.footer{
    
 display: flex;
    background-color: var(--third-color);
    padding: 40px 60px 0px 60px;
    justify-content: space-between;
    border-bottom: 1px solid #1c3b35;
    
}
.footer_menu{
    display: flex;
    color: white;
    justify-content: space-between;
    width: 45%;
    padding-right: 100px;

}
.footer_menu li {
    list-style-type: none;
    padding: 5px 0;
    font-size: 12px;
    text-decoration: none;
}
.footer_menu a{
    text-decoration: none;
    color: white;
}
.footer p{
    color: white;
    font-size: 12px;
    padding: 10px 0;
}

.footer_text{
    background-color: var(--third-color);
    padding: 10px;

}
.footer_text p{
    font-size: 10px;
    text-align: center;
    color: white;
}